.main{
    margin: 5% 20% 5% 20%;
    padding: 2%;
   
    
}
.card{
  height: 100%;
  border: 2px solid black;
}

h1{
  padding-bottom: 5px;
}
.card:hover{
  font-size: 150%;
  background-color: lightslategray;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color:black;
  text-decoration: none;
}