{% extends "base.html" %}

{% block content %}
<div class="px-3">
    <h1 class="mt-5">COGNITIVE SKILL ASSESSMENT IN EARLY DIAGNOSIS OF ALZHEIMER’S DISEASE</h1>
    <p class="lead">Alzheimer’s is a type of brain dysfunction that gradually dissipates the patient’s mental abilities.
It usually develops gradually and progresses.
Cognitive skills are difficulty in concentrating, inability to create new memories, or inability to recognize common things.
</p>
    <p class="lead"><a target="_blank" href="https://www.alz.org/alzheimers-dementia/what-is-dementia/related_conditions/mild-cognitive-impairment#:~:text=Mild%20cognitive%20impairment%20(MCI)%20causes,developing%20Alzheimer's%20or%20another%20dementia." class="btn btn-large btn-secondary fw-bold border-darken-4">Learn more</a></p>
</div>
{% endblock %}
