{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Cognitive Skill Assessment in Early Diagnosis of Alzheimer’s Disease</h1>
          <h2></h2>
          <div class="d-flex">
            <a target="_blank" href="https://www.alz.org/alzheimers-dementia/what-is-dementia/related_conditions/mild-cognitive-impairment#:~:text=Mild%20cognitive%20impairment%20(MCI)%20causes,developing%20Alzheimer's%20or%20another%20dementia." class="btn-get-started scrollto">Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'img/hero-img2.jpg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{% endblock %}
