{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'css/spatialmemory/awsome/css/font-awesome.min.css' %}" rel=stylesheet>
    <link href="{% static 'css/spatialmemory/style.css' %}" rel=stylesheet type="text/css">
    <script src="{% static 'js/spatialmemory/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/spatialmemory/themes/google/google.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spatialmemory/sweetalert.css' %}">
    <script src="{% static 'js/spatialmemory/shortcut.js' %}"></script>
    <script src="{% static 'js/spatialmemory/script.js' %}" type="text/javascript"></script>
    <title>Spatial Working Memory</title>
    <link rel="manifest" href="{% static 'manifest.json' %}" />
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<br>
    <div id="particles-js" itemprop="particleSection"> </div>
        <div class="siteWrapper" id="siteWrapper" itemprop="mainContentOfPage">
            <div class="shortcut">
                <h2>Shortcuts</h2>
                <p>Reset (r)</p>
                <p>Quick Help (q)</p>
            </div>
                <h1 id="game_name" class="get_name" itemprop="siteName">Loading ...</h1>
            <div class="header" id="header" itemprop="siteMenu" >
                <button onclick="startGame();" class="reset" title="Start Game" id="start">Start</button>
                <button onclick="redirect(5);" class="reset" id="help" title="Help Page">Help</button>
            </div>
            <table class="mnimi" id="mnimi" itemprop="gameTable">
                <tr>
                    <td id="1" onclick="replyClick(this.id)"></td>
                    <td id="2" onclick="replyClick(this.id)"></td>

                </tr>
                <tr>
                    <td id="3" onclick="replyClick(this.id)"></td>
                    <td id="4" onclick="replyClick(this.id)"></td>
                </tr>
            </table>
            <table class="score" id="score" itemprop="scoreTable">
                <tr>
                    <td>Score</td>
                    <td id="win">0</td>
                </tr>
            </table>
            <br>
            <div class="button_section" itemprop="controlButtonSection">
                <button onclick="scoreTable();" class="reset" id="score_button" title="Score">Score</button>
                <button onclick="restartGame();" class="reset" title="Restart Game" id="restart">Reset</button>
                <button onclick="redirect(5);" class="reset" id="help2" title="Help Page">Help</button>
            </div>
        </div>    
        <script>
            begin();
        </script>
        <script src="{% static 'js/spatialmemory/particles.min.js' %}"></script>
        <script src="{% static 'js/spatialmemory/app.js' %}"></script>
        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% static 'service-worker.js' %}')
            .then(function(reg){
            }).catch(function(err) {
            });
        }
        </script>
</body>
{% endblock %}





  