{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/tools.css' %}" rel="stylesheet">
<div class="main ">
     <h1 class="text-center">SKILLS TO TEST</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="mot.html">MOTOR SCREENING</a></h5>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="rti.html">REACTION TIME</a></h5>
            
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <a href="pal.html">PAIRED ASSOCIATES LEARNING</a></h5>
           
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="swm.html">SPATIAL WORKING MEMORY</a></h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="prm.html">PATTERN RECOGNITION MEMORY</a></h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="rvp.html">RAPID VISUAL INFORMATION PROCESSING</a></h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="dms.html">DELAYED MATCHING TO SAMPLE</a></h5>
            
          </div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}